exportPattern("^[^\\.]")
S3method(Summary,timepoint)
S3method(as.character,timepoint)
S3method(as.chartime,numeric)
S3method(as.day,day)
S3method(as.day,duration)
S3method(as.day,hour)
S3method(as.day,month)
S3method(as.day,numeric)
S3method(as.day,week)
S3method(as.day,year)
S3method(as.hour,day)
S3method(as.hour,duration)
S3method(as.hour,hour)
S3method(as.hour,minute)
S3method(as.hour,numeric)
S3method(as.hour,second)
S3method(as.date,Date)
S3method(as.date,character)
S3method(as.date,dates)
S3method(as.date,date)
S3method(as.date,numeric)
S3method(as.date,sasdate)
S3method(as.datetime,POSIXct)
S3method(as.datetime,POSIXlt)
S3method(as.datetime,character)
S3method(as.datetime,chron)
S3method(as.datetime,date)
S3method(as.datetime,datetime)
S3method(as.datetime,numeric)
S3method(as.time,character)
S3method(as.time,time)
S3method(as.time,numeric)
S3method(as.time,times)
S3method(as.minute,duration)
S3method(as.minute,hour)
S3method(as.minute,minute)
S3method(as.minute,numeric)
S3method(as.minute,second)
S3method(as.month,day)
S3method(as.month,duration)
S3method(as.month,month)
S3method(as.month,numeric)
S3method(as.numeric,chartime)
S3method(as.second,day)
S3method(as.second,duration)
S3method(as.second,hour)
S3method(as.second,minute)
S3method(as.second,numeric)
S3method(as.second,second)
S3method(as.week,day)
S3method(as.week,duration)
S3method(as.week,numeric)
S3method(as.week,week)
S3method(as.year,day)
S3method(as.year,duration)
S3method(as.year,numeric)
S3method(as.year,year)
S3method(c,timeline)
S3method(format,duration)
S3method(format,date)
S3method(format,datetime)
S3method(format,time)
S3method(print,duration)
S3method(print,timepoint)
S3method(rep,timeline)
S3method(seq,timeline)
S3method(unique,timepoint)
S3method('+',timeline)
S3method('-',timeline)
S3method(xtfrm,timepoint)
S3method('[',timeline)
S3method('[[',timeline)
S3method('[<-',timepoint)
if(getRversion() >= "3.6.0") {S3method(SASxport::toSAS, date)}
if(getRversion() >= "3.6.0") {S3method(SASxport::toSAS, time)}
if(getRversion() >= "3.6.0") {S3method(SASxport::toSAS, datetime)}


